#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Sidebar*/
.MuiDrawer-paper {
  background-color: #ffffff !important;
  border-right: 1px solid #ddd;
}

.MuiListItem-root {
  margin: 8px;
  padding: 12px 16px;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.MuiListItem-root:hover{
  background-color: #d1e3ff !important;
}

.Mui-selected {
  background-color: #6c63ff !important;
  color: #ffffff !important;
}

.MuiListItemText-primary {
  font-weight: 500;
}

/*Header*/
.MuiAppBar-root {
  background-color: #ffffff !important;
  color: #333 !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.MuiToolbar-root {
  justify-content: space-between;
  padding: 0 16px;
}

.header-profile {
  display: flex;
  align-items: center;
}

/*Dashboard*/
.dashboard-section {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.dashboard-section-title {
  text-align: left;
  font-weight: 600;
  color: #333;
}

.greeting-card {
  background: linear-gradient(135deg, #d0b8fa, #99b7f6) !important;
  border-radius: 15px;
  padding: 20px;
  color: #020202 !important;
  margin-bottom: 20px;
}

.focus-timer {
  text-align: center;
}

.timer-display {
  font-size: 36px;
  font-weight: bold;
  color: #6c63ff;
}

.add-task-button{
  background-color: #6c63ff;
  color: #ffffff;
  border-radius: 12px;
  padding: 8px 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.add-task-button:hover{
  background-color: #5a54d1;
}